.friends-screen {
    margin: 0 20px;
    padding-bottom: 77px;
    padding-top: 126px;
    margin-bottom: 32px;
}
.friends-screen__list-header{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-secondary);
    padding: 16px 0;
}
.friends-screen__list-body{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.friends-screen__list{
    margin-top: 24px;
    border-top: 1px solid var(--border-color);
}
.friends-screen__list:first-child {
    margin-top: 0;
    border-top: none;
}
#btn-gift{
    border: 1px solid var(--placeholder-color);
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 4px 12px;
    font-size: 14px;
    color: var(--text-color);
}

@keyframes splash-animation {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
    
}
#splash-screen{
    background-color: var(--primary-color);
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: splash-animation 0.5s ease-in-out 0.7s forwards;
}
#splash-screen__splash-icon{
    width: 112px;
    height: auto;
}