/* --------------컴포넌트 공통-------------- */
/* 전체 수평 정렬 */
.user-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 58px;
}
/* 왼쪽 단 수평 정렬 */
.user-component__column:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
}
/* 오른쪽 단 수평 정렬 */
.user-component__column:last-child{
    display: flex;
    align-items: center;
}
/* 타이틀 및 이모지 수평 정렬 */
.user-component__title{
    display: flex;
    gap: 4px;
}
/* 프로필 사진 */
.user-component__avatar--sm {
    width: 46px;
    height: 46px;
    border-radius: 16px;
    border: 0.8px solid var(--border-color);
    object-fit: cover;
}
.user-component__avatar--lg {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    border: 0.8px solid var(--border-color);
    object-fit: cover;
}
.user-component__avatar--md {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    border: 0.8px solid var(--border-color);
    object-fit: cover;
}
.user-component__avatar--xs {
    width: 34px;
    height: 34px;
    border-radius: 12px;
    border: 0.8px solid var(--border-color);
    object-fit: cover;
}
/* 이름 */
.user-component__title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 2px;
}
.user-component__title--sm {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}
/* 상태메세지 혹은 채팅메세지 */
.user-component__text{
    flex: 1;
    min-width: 0;
}
.user-component__subtitle {
    font-size: 12px;
    font-weight: 300;
    line-height: 130%;
    color: var(--text-color-secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 오른쪽 텍스트 폰트 사이즈 및 컬러 조정*/
.user-component span {
  color: var(--text-color-secondary);
  font-size: 12px;
}
/* --------------Friend Screen에서만 쓰임-------------- */
/* 수직 컴포넌트(업데이트한 친구) */
.user-component--horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0; 
}
.friends-screen__list:first-of-type .user-component {
    justify-content: flex-start;
    gap: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.friends-screen__list:first-of-type .user-component::-webkit-scrollbar {
  display: none;
}
/* --------------Chat Screen에서만 쓰임-------------- */
/* 수평 컴포넌트(채팅방 리스트) */
.user-component__column--horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    margin-left: 12px;
    min-width: 58px;
}
.user-component__time {
    margin-top: 4px;
}